
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables

// Bootstrap
@import '~bootstrap';
@import '~bootstrap-vue';

html, body, #app {
  height: 100%; }

body, div.vis-timeline {
  font-family: 'Noto Sans', Verdana, Helvetica, sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Noto Sans', Verdana, Helvetica, sans-serif;
  font-weight: bold; }

/*# sourceMappingURL=app.css.map */
