<template>
    <div id="app" :dir="rtl ? 'rtl' : 'ltr'" :class="rtl ? 'translate-text-right'  : 'translate-text-left'">
      <router-view/>
    </div>
</template>

<script>
import TileLayerVue from './components/leaflet/TileLayer.vue';
import FeatureRepository from './features';

export default {
  name: 'app',
  components: {
  },
  mounted () {
    FeatureRepository.setLogger(this.$log);
  },
  data () {
    return {
      
    };
  },
  methods: {
  },
  computed: {
        rtl () {
          return this.$store.state.rtl;
        },
  }
};
</script>

<style>
  .translate-text-right .translate  {
    text-align: right;
  }
  .translate-text-left .translate {
  text-align: left;
  }
 
  html{
    width: 100%;
  }
  /* .row{
    margin-left: 0;
    margin-right: 0;
  } */
</style>
