<template>
	<div></div>
</template>
<script>
/* eslint-disable */
import Timelinepick from "./timelinepick"
export default {
    props:{
    },
    data(){
        return {
            activeType: "quarter",
            items:["quarter","hour","date"],
            wrapStyle:{
                width : this.width +"px",
                height : this.height +"px"
            }
        }
    },
    mounted(){
      var tg1 = $(this.$el).timeline({
        "min_zoom":15,
        "max_zoom":60
      });
    },
    methods :{
    }
}
</script>

}
</style>
