<!-- vue-leaflet -->
<template>
  <MglMarker :coordinates="[position[1], position[0]]" color="blue" />
</template>

<script>
    import mapboxgl from 'mapbox-gl';
    import { MglMarker } from 'vue-mapbox';
    import {DeferredReadyMixin} from 'vue-leaflet/src/deferredReady';

    export default {
      mixins: [DeferredReadyMixin],
      props: ['position', 'icon', 'title'],
      data () {
        return {
          marker: undefined
        };
      },
      created () {
        this.$map = null;
        this.$on('map-ready',
          function (map) {
            this.$map = map;
            this.regenerate();
          }
        );
      },
      components: {
        MglMarker
      },
      watch: {
        icon () {
          this.regenerate();
        },
        title () {
          this.regenerate();
        },
        position () {
          this.regenerate();
        }
      },
      methods: {
        regenerate () {
          // if (this.$map && this.icon) {
          //   if (this.marker) {
          //     this.marker.remove();
          //     this.marker = null;
          //   }
          //   // var icon = L.icon({
          //   //   iconUrl: process.env.VUE_APP_PUBLIC_PATH + '/images/' + this.icon,
          //   //   iconSize: [50, 82],
          //   //   iconAnchor: [25, 82],
          //   //   tooltipAnchor: [25, 82]
          //   // });
          //   /* Laravel Postgis is reverse coords */
          //   var x = this.position[1];
          //   var y = this.position[0];

          //   var marker = new mapboxgl.Marker({
          //     color: "#FFFFFF",
          //   })
          //   console.log(x, y);
          //   this.marker = marker.setLngLat([x, y]).addTo(this.$map);
          // }
        }
      },
      deferredReady () {
        this.$bus.$emit('register-component', this);
      },
      events: {
      }
    };
</script>
