<template>
	<div></div>
</template>

<script>
    import L from 'leaflet';
    import {DeferredReadyMixin} from 'vue-leaflet/src/deferredReady';

    export default {
      mixins: [DeferredReadyMixin],
      props: {
        areas: {
          type: Array,
          default: () => []
        },
        arc: {
          type: Array,
          default: () => []
        },
        timeOffset: {
          default: 0.0
        }
      },
      data () {
        return {
          registered: false,
          canvasLayer: null
        };
      },

      created () {
        this.$map = null;
        this.$on('map-ready',
                function (map) {
                  this.$map = map;
                }
            );
      },

      deferredReady () {
        this.$bus.$emit('register-component', this);
        this.registered = true;
      },

      methods: {
        updateHeatPoints () {
          if (this.canvasLayer) {
            var canvas = this.canvasLayer;
            this.canvasLayer = null;
            this.$map.removeLayer(canvas);
          }

          if (this.registered && this.areas.length > 0 && this.$map) {
            var getPolygon = this.getPolygon;
            var areas = this.arc.map(function (a) {
              return getPolygon(a);
            });

                    /* This section based on Sumbera's Leaflet Canvas Overlay example [MIT]
                       https://github.com/Sumbera/gLayers.Leaflet/blob/master/L.CanvasLayerSample.html */
						this.canvasLayer = L.multiPolygon(areas).addTo(this.$map);

            return '';
          }

          return null;
        }
      },

      watch: {
        registered () {
          this.updateHeatPoints();
        },

        timeOffset () {
          this.updateHeatPoints();
        },

        arc () {
          this.updateHeatPoints();
        },

        areas () {
          this.updateHeatPoints();
        }
      }
    };
</script>
