<template>
  <div class="leaflet-popover">
    <div class="leaflet-popover-container" v-on:click="$emit('hide')">
      <img :src="notificationImage" />
      <div
        class="leaflet-popover-image"
        :style="'background-image: url(' + currentImage + ')'"
      ></div>
      <div class="leaflet-popover-text" v-html="content"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    image: { default: false },
    content: { default: "" },
  },
  data() {
    return {
      notificationImage:
        process.env.VUE_APP_PUBLIC_PATH +
        "/images/leaflet/popover-notification.png",
      defaultImage:
        process.env.VUE_APP_PUBLIC_PATH +
        "/images/sample/Warrenpoint_and_Rostrevor_Tramway.jpg",
    };
  },
  computed: {
    currentImage() {
      if (this.image) {
        return this.image;
      }
      return this.defaultImage;
    },
  },
};
</script>

<style>
.leaflet-popover {
  position: absolute;
  top: 5%;
  right: 100px;
  z-index: 10;
}

.leaflet-popover p {
  font-size: medium;
  padding-left: 5px;
}

.leaflet-popover-container {
  position: relative;
}

.leaflet-popover-image {
  position: absolute;
  width: 200px;
  height: 210px;
  bottom: 150px;
  left: 45px;
  z-index: -1;
  background-size: cover;
}

.leaflet-popover-text {
  position: absolute;
  max-width: 160px;
  height: 179px;
  overflow-y: auto;
  bottom: 150px;
  left: 260px;
  z-index: 1;
  color: white;
  text-align: right;
  padding-left: 25px;
}

.leaflet-popover-text a {
  color: white;
  font-weight: bold;
}

</style>

<style scoped>
img {
  width: 65%;
  height: 60%;
  object-fit: contain;
}
</style>
