<!-- vue-leaflet -->
<template>
  <div id="map">
    <slot></slot>
  </div>
</template>

<script>
    import Q from 'q';
    import Vue from 'vue';
    import {DeferredReady} from 'vue-leaflet/src/deferredReady';
    import L from 'leaflet';
    Vue.use(DeferredReady);

    export default{
      mixins: [DeferredReady],
      props: ['center', 'zoom', 'minZoom', 'maxZoom'],
      data () {
        return {
          widthInKm: 0
        };
      },
      created () {
        this.mapCreatedDefered = Q.defer();
        this.mapCreated = this.mapCreatedDefered.promise;

        var map = this;
        this.$bus.$on('register-component', function (child) {
          if (!map.mapObject) { throw new Error('Map not initialized'); }
          child.$emit('map-ready', map.mapObject);
          // Simpler: child.$map = mapObject but not so
          // modular
        });
      },
      watch: {
        widthInKm (newWidth) {
          this.$emit('update:widthInKm', newWidth);
        },
        center (newCenter) {
          if (this.mapObject) {
            const currentCenter = this.mapObject.getCenter();
            if (newCenter[0] !== currentCenter[0] || newCenter[0] !== currentCenter[0]) {
              this.mapObject.flyTo(newCenter);
            }
          }
        }
      },
      methods: {
        recalculateWidthInKm () {
          const bbox = this.mapObject.getBounds();
          const ne = bbox.getNorthEast();
          const sw = bbox.getSouthWest();
          const midLat = 0.5 * (ne.lat + sw.lat);
          ne.lat = midLat;
          sw.lat = midLat;
          this.widthInKm = ne.distanceTo(sw) * 1e-3;
        }
      },
      mounted () {
        this.mapObject = L.map('map', {
          center: this.center,
          zoom: this.zoom,
          minZoom: this.minZoom,
          maxZoom: this.maxZoom
        });
        this.mapObject.on('zoomend', (ev) => this.$emit('update:zoom', this.mapObject.getZoom()));
        this.mapObject.on('zoomend', (ev) => this.recalculateWidthInKm());
        this.mapObject.on('dblclick', (ev) => this.$emit('dblclick', ev));
      }
    };
</script>
<style type="text/css">
  #map {
    height: 100%;
    width: 100%;
  }
</style>
