<!-- THIS FILE IS NO LONGER IN USE, CODE REPLACED IN sidebar.vue -->
<template>
  <div class="leaflet-popover">
    <div class="leaflet-popover-container" v-on:click="$emit('hide')">
        <div class="leaflet-popover-top"></div>
        <div class="leaflet-popover-icon" v-if="icon">
          <img :src="icon.options.iconRetinaUrl ? icon.options.iconRetinaUrl : icon.options.iconUrl" style="height: '200px'" />
        </div>
        <div
          class="leaflet-popover-image"
          :style="'background-image: url(' + currentImage + ')'"
        ></div>
        <div class="leaflet-popover-text" v-html="content"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    image: { default: false },
    icon: { default: null },
    content: { default: "" },
  },
  data() {
    return {
      notificationImage:
        process.env.VUE_APP_PUBLIC_PATH +
        "/images/leaflet/popover-notification.png",
      defaultImage:
        process.env.VUE_APP_PUBLIC_PATH +
        "/images/sample/Warrenpoint_and_Rostrevor_Tramway.jpg",
    };
  },
  computed: {
    currentImage() {
      if (this.image) {
        return this.image;
      }
      return this.defaultImage;
    },
  },
};
</script>

<style>
.leaflet-popover {
  position: absolute;
  top: 5%;
  right: 100px;
  z-index: 10;
}

.leaflet-popover p {
  font-size: medium;
  padding-left: 5px;
}

.leaflet-popover-container {
  background-color: #3c3c3c;
  position: relative;
  min-width: 200px;
  min-height: 300px;
  border-bottom: 10px red solid;
  border-radius: 0 0 10px 60px;
  box-shadow: 3px 3px 10px 10px rgba(160, 160, 160, 0.4);
  bottom: -65vh;
}

.leaflet-popover-icon {
  position: absolute;
  z-index: 4;
  right: -10px;
  top: -30px;
}

.leaflet-popover-image {
  position: absolute;
  width: 200px;
  height: 210px;
  top: 0px;
  left: 0px;
  z-index: 1;
  border-radius: 0 0 30px 0px;
  background-size: cover;
}

.leaflet-popover-text {
  position: absolute;
  width: 100%;
  overflow-y: auto;
  max-height: 200px;
  bottom: 10px;
  right: 0px;
  z-index: 2;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: right;
  border-radius: 0 0 00px 60px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

.leaflet-popover-text a {
  color: white;
  font-weight: bold;
}

.leaflet-popover-top {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 10px;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.3);
}

</style>

<style scoped>
.notificationImage {
  width: 65%;
  height: 60%;
  object-fit: contain;
}
</style>
