<template>
  <div></div>
</template>

<script>
import L from 'leaflet';
import 'leaflet-providers';
import { mapboxAccessToken } from '../../mapvars';
import {DeferredReadyMixin} from 'vue-leaflet/src/deferredReady';
export default {
  props: ['attribution', 'provider'],

  data () {
    return {
      currentLayer: null
    };
  },

  mixins: [DeferredReadyMixin],

  created () {
    this.$map = null;
    this.$on('map-ready',
            function (map) {
              this.$map = map;
            }
        );
  },

  deferredReady () {
    this.$bus.$emit('register-component', this);
        /* L.tileLayer(this.url,{attribution:this.attribution}).addTo(this.$map); */
    this.resetProvider();
  },

  methods: {
    resetProvider () {
      if (this.currentLayer) {
        var layer = this.currentLayer;
        this.currentLayer = null;
        this.$map.removeLayer(layer);
      }
      this.$log.debug(this.provider)
      if (this.provider.startsWith('mapbox://')) {
        this.currentLayer = L.mapboxGL({
          style: this.provider,
          accessToken: mapboxAccessToken,
        }).addTo(this.$map);
      } else {
        this.currentLayer = L.tileLayer.provider(
          this.provider
        ).addTo(this.$map);
      }
    }
  },

  watch: {
    provider: function (provider) {
      this.resetProvider();
    }
  }

};
</script>
