<template>
  <div>
    <b-form-select v-model="combination" :options="combinations" :select-size="6" />
  </div>
</template>

<script>
    export default {
      name: 'CreateSimulation',
      props: {
        value: Object
      },
      data () {
        return {
          'combination': null
        };
      },
      mounted () {
        this.$store.dispatch('fetchCombinations');
        this.$store.dispatch('fetchCaseContexts', { refresh: false });
        this.combination = this.value;
      },
      computed: {
        combinations () {
          
          const numericalModels = this.$store.state.numericalModels;

          return Object.values(this.$store.state.combinations).map(combination => {
            return {
              value: combination.id,
              text: `${combination.phenomenon.get('name')} (${combination.numericalModel.get('name')})`
            };
          });
        }
      },
      watch: {
        combination (combination) {
          if (combination === this.value) {
            return;
          }
          if (!combination) {
            this.$emit('input', null);
          }
          this.$emit('input', this.$store.state.combinations[combination]);
        }
      }
    }
</script>

<style>
</style>
