<template>
<b-modal id="help" class="modal fade" role="dialog" :title="$gettext('Create Simulation')" size="xl" ok-only 
    :dir="rtl ? 'rtl' : 'ltr'" :class="rtl ? 'text-right'  : 'text-left'">
    <template v-slot:default>
        <ul :dir="rtl ? 'rtl' : 'ltr'" :class="rtl ? 'text-right'  : 'text-left'">
            <!-- These should be linked, but without breaking token system -->
            <li v-translate>Getting Started</li>
            <li v-translate>News Feed</li>
            <li v-translate>Tasks</li>
        </ul>
        <div id="help-body" :dir="rtl ? 'rtl' : 'ltr'" :class="rtl ? 'text-right'  : 'text-left'">
            <h3 id='help-getting-started' v-translate>Getting Started</h3>
            <translate>
            Use the plus and minus buttons in the top left corner of the map to zoom in and out. You can also use the scroll button on your mouse!
            You can explore the timeline at the bottom of the map using the green time picker. Move the picker to change the time and see how the disaster has progressed. Use the scroll button on your mouse to change the time view.
            Click on a Task, News on the timeline or landmark icon on the map to see more details in the sidebar.
            Landmark icons will change to red when they have been affected by the natural disaster.
            </translate>
            <h3 id='help-news-feed' v-translate>NewsFeed</h3>
            <translate>
            There are three different types of News - Information, NewsFlash and Social Media. 
            Information gives you factual information about the disaster and its effects on the location. 
            NewsFlash is a News report about the event. 
            Social Media is a trending social media post, such as a Tweet, that tells you how real people are being affected by the emergency.
            </translate>
            <h3 id='help-tasks' v-translate>TASKS</h3>
            <translate>
            There are two different types of Tasks you can complete:
            Multiple Choice questions ask you to answer a question and check your answer. If you don’t get the answer right away, try again!
            There are two colours of Activity Tasks - Blue and Green.
            Your teacher will tell you which colour of Activity to complete, so listen carefully!
            </translate>
            <!-- If you want help from your teacher, click the large Feedback button with the ? symbol - this will help your teacher find you.-->
        </div>
    </template>
</b-modal>
</template>


<script>
export default {
    computed: {
        rtl () {
          return this.$store.state.rtl;
        },
  }
}
</script>

<style>
#help #help-body {
    overflow-y: scroll;
    max-height: 70vh;
}
.translate-text-right .translate {
    text-align: right !important;
}

.translate-text-left .translate {
    text-align: left !important;
}
</style>
l