<template>
    <div class='leaflet-page'>
      <mapdialog @contour-config-change="contourConfigChange" @provider-change="providerChange" id="mapDialog" v-on:layersSelected="layersSelected" :featureSets="featureSets" ></mapdialog>
      <lmap @update:widthInKm="setWidthInKm" :zoom.sync="zoomActive" max-zoom="17" :center="center" class='leaflet-map'>
        <ltilelayer :provider="provider"></ltilelayer>
        <lcanvasoverlay :contour-config="contourConfig" v-on:popover="$emit('popover')" :heatpoints="streetLights" :result-grids="resultGrids" :danger-color="dangerColor"></lcanvasoverlay>
        <div v-for='(set, ix) in features' :key='ix'>
            <lfeaturemarkercluster
               v-if='isFeatureSetActive(set.feature_set_id)'
               :set-data="set"
               :feature-set="featureSets[set.feature_set_id]"
               :popover="popover"
               :time-offset="timeOffset"
               :get-health="getHealth"></lfeaturemarkercluster>
        </div>
        <contentbar class="sBar">
        </contentbar>
        <!--<lpanel v-show="sortedInformationals.length" ref="newsticker" class="leaflet-panel-newsticker" title="NEWSFEED" color="#ed1c24">
            <li v-for="informational in sortedInformationals">
                <component :is='classes[informational.class]' :informational='informational'></component>
                <li><hr/></li>
            </li>
        </lpanel> -->
        <lpanel v-show="tasks.length" ref="tasklist" class="leaflet-panel-tasks" title="TASKS" color="#26ab43" v-translate>
            <li v-for="task in tasks" :key="task">
                <task :task='task'></task>
            </li>
        </lpanel>
        
      </lmap>
    </div>
</template>

<script>
  import contentbar from './Sidebar.vue'
  import ltilelayer from './leaflet/TileLayer.vue';
  import lmap from './leaflet/Map.vue';
  // import lmarker from './leaflet/Marker.vue';
  import lfeaturemarkercluster from './leaflet/FeatureMarkerCluster.vue';
  import lpanel from './leaflet/Panel.vue';
  import lcanvasoverlay from './leaflet/CanvasOverlay.vue';
  import Task from './Task.vue';
  import MapDialog from './MapDialog';
  import { providers } from '../mapvars';

  // import notification from './leaflet/newsticker/Notification.vue';
  // import newsflash from './leaflet/newsticker/Newsflash.vue';
  // import socialMedia from './leaflet/newsticker/SocialMedia.vue';

  export default {
    props: {
      center: {default: [54.800, -6.512]},
      tasks: {default: () => []},
      zoom: {default: 10},
      caseContext: {
        type: Object,
        default: () => { return {features: []}; }
      },
      dangerColor: {
        type: Array,
        default: () => [255, 0, 0, 1]
      },
      simulationState: {
        type: Object,
        default: function () {
                return {
                        featureArcs: []
                };
        }
      },
      resultFeatures: {
        type: Array,
        default: function () {
                return [];
        }
      },
      timeOffset: {}
    },

    data () {
      return {
        featureExceptions: ['street-light'],
        providerType: 'monochrome',
        zoomActive: 17,
        contourConfig: {
          step: 10,
          mode: 'contour'
        },
        
        classes: {
          'social-media': 'socialMedia',
          'newsflash': 'newsflash',
          'notification': 'notification'
        },
        streetLights: {
          chunk: []
        },
        featureSetsToDisplay: []
      };
    },

    mounted () {
      this.zoomActive = this.zoom;
    },

    components: {
      contentbar: contentbar,
      'ltilelayer': ltilelayer,
      'lmap': lmap,
      // 'lmarker': lmarker,
      'lfeaturemarkercluster': lfeaturemarkercluster,
      'lpanel': lpanel,
      'lcanvasoverlay': lcanvasoverlay,
      // 'socialMedia': socialMedia,
      // 'newsflash': newsflash,
      // 'notification': notification,
      'task': Task,
      'mapdialog': MapDialog
    },

    computed: {
      provider () {
        const providersByType = providers[this.$i18n.locale] ? providers[this.$i18n.locale] : providers.default;
        const provider = providersByType[this.providerType];
        return provider;
      },

      features () {
        var features = {};
        // var streetLights = {chunk: []};
        var streetLights = {chunk: []};

        this.caseContext.features.map(function (f) {
          if (f.feature_set_id === 'street-light') {
            streetLights = f;
          } else {
            features[f.id] = f;
          }
        });

        /* eslint-disable */
        this.streetLights = streetLights;
        /* eslint-enable */

        this.simulationState.featureArcs.map(function (a) {
          if (a.feature_chunk_id in features) {
            features[a.feature_chunk_id].arc = {
              h: a.arc.map(a => a.h)
            };
          }
        });

        return features;
      },

      heatpoints () {
        return this.simulationState.points;
      },

      featureSets () {
        var featureSets = {};
        if (this.caseContext) {
          this.caseContext.featureSets.map(function (fS) {
            featureSets[fS.id] = fS;
          });
        }
        return featureSets;
      },

      resultGrids () {
        if (this.simulationState) {
          var resultFeatures = this.resultFeatures;
          var timeOffset = this.timeOffset;
          var getRaster = this.getRaster;

          if (resultFeatures.length === 0) {
            return [];
          }
          var features = resultFeatures[0].chunk.grid;
          if (resultFeatures.length === 1) {
            return [{
              description: features,
              grid: resultFeatures[0].arc
            }];
          } else {
            var featurePair = [
                  [resultFeatures[0].time_offset, resultFeatures[0].arc],
                  [resultFeatures[1].time_offset, resultFeatures[1].arc]
            ];

            // Ensure that the feature pair actually has got an arc yet
            if (featurePair[0][1] && featurePair[1][1]) {
              var arc = [
                {
                  description: features,
                  grid: getRaster(featurePair, timeOffset)
                }
              ];
              return arc;
            }
          }
        }

        return [];
      }
    },

    watch: {
      tasks () {
        this.$refs.tasklist.regenerate();
      },
      zoomActive () {
      }
    },

    

    methods: {
      setWidthInKm: function (newWidth) {
        this.$store.dispatch(
          'updateWidthOfMapInKm',
          newWidth
        );
      },
      isFeatureSetActive: function (featureSetId) {
        var isNotException = this.featureExceptions.indexOf(this.featureSets[featureSetId].id) < 0;
        var shouldDisplay = this.featureSetsToDisplay.indexOf(this.featureSets[featureSetId].id) > -1;
        return isNotException && shouldDisplay;
      },

      providerChange: function (newProvider) {
        this.providerType = newProvider;
        //this.$log.debug(newProvider);
      },

      contourConfigChange: function (newContourConfig) {
        this.contourConfig = newContourConfig;
        this.$log.debug(newContourConfig);
      },

      layersSelected: function (selected) {
        this.featureSetsToDisplay = selected;
        //this.$log.debug('changed layers:' + this.featureSetsToDisplay);
      },
      
      // getHealth for canvas overlay
      getRaster (arc, timeOffsetMs) {
        var vals = null;
        var timeOffset = timeOffsetMs / 1000.0;

        if (!arc || arc.length === 0) {
          return null;
        }

        //this.$log.debug('Enter');
        if (arc[arc.length - 1][0] <= timeOffset) {
          vals = arc[arc.length - 1][1];
        } else if (arc[0][0] >= timeOffset) {
          vals = arc[0][1];
        } else {
          arc.forEach(function (k, i) {
            if (vals === null && k[0] > timeOffset) {
              var j = arc[i - 1];
              var allCells = Object.keys(j[1]);
              allCells = allCells.concat(Object.keys(k[1]));

              vals = {};
              allCells.forEach(function (v) {
                var jval = j[1][v];
                var kval = k[1][v];

                if (jval === undefined) {
                  jval = 0.0;
                }

                // j = array of values * prevous time
                // k = array of values at next time
                // works out value of health between times
                if (kval === undefined) {
                  kval = 0.0;
                }

                // setting the value of each cell by linear interpolation
                // adds the % of difference (depending on how far between the two times it is) to the previous time's value
                vals[v] = jval + (timeOffset - j[0]) * (kval - jval) / (k[0] - j[0]);
              });
            }
          });
        }
        //this.$log.debug('Leave');

       // return vals || [];
        return vals;
      },

      getPolygon (arc) {
        var vals = null;
        var timeOffset = this.timeOffset / 1000.0;

        if (arc[arc.length - 1][0] <= timeOffset) {
          vals = arc[arc.length - 1][1];
        } else if (arc[0][0] >= timeOffset) {
          vals = arc[0][1];
        } else {
          arc.forEach(function (k, i) {
            if (vals === null && k[0] > timeOffset) {
              var j = arc[i - 1];
              vals = j[1].map(function (v, l) {
                var val = [
                  v[0] + (timeOffset - j[0]) * (k[1][l][0] - v[0]) / (k[0] - j[0]),
                  v[1] + (timeOffset - j[0]) * (k[1][l][1] - v[1]) / (k[0] - j[0])
                ];
                return val;
              });
            }
          });
        }

        return vals || [];
      },

      getHealth (arc) {
        var val = null;
        var timeOffset = this.timeOffset / 1000.0;
        if (arc[arc.length - 1][0] <= timeOffset) {
          val = arc[arc.length - 1][1];
        } else if (arc[0][0] >= timeOffset) {
          val = arc[0][1];
        } else {
          arc.forEach(function (k, i) {
            if (val === null && k[0] > timeOffset) {
              var j = arc[i - 1];
              val = j[1] + (timeOffset - j[0]) * (k[1] - j[1]) / (k[0] - j[0]);
            }
          });
        }

        return val === null ? 100.0 : val;
      }
    }
  };
</script>

<style>
    .leaflet-panel-newsticker {
        position: absolute;
        top: 5%;
        left: 100px;
        z-index: 10;
        max-width: 20%;

    }

    .leaflet-panel-tasks {
        position: absolute;
        bottom: 5%;
        left: 100px;
        z-index: 10;
        max-width: 20%;

    }

    .leaflet-page {
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .leaflet-map {
        flex: 1 1 auto;
    }
    #mapDialog{
        position: absolute;
        right: 20px;
        z-index: 12;
   }
</style>
