<template>
  <b-sidebar
    v-model="showSidebar"
    class="sidebar"
    id="sidebar-1"
    :class="{ fullscreenSidebar: sidebar.isFullscreen }"
    no-header
  >
    <b-button id="exitBtn" @click="hideSidebar">
      <b-icon icon="x-circle" scale="1"></b-icon>
    </b-button>

    <!-- Map marker popover logic -->
    <b-row
      class="sidebar-header"
      v-if="sidebar.type == 'popover'"
      :style="{ 'background-image': backgroundImage, 'height': '240px', 'width': '320px', 'background-size': 'cover'}"
    >
      <b-col></b-col>
    </b-row>
    <b-row class="sidebar-body" v-if="sidebar.type == 'popover'">
      <div class="content" v-html="sidebar.content"></div>
    </b-row>

    <!-- News item logic -->
    <img
      width="320px"
      height="240px"
      v-if="sidebar.type == 'news'"
      :src="`${$publicPath}/images/news.jpg`"
    />
    <b-row class="sidebar-body" v-if="sidebar.type == 'news'">
      <b-link v-if="url != null" :href="url" target="_blank" class="blink">
          More detailed information.
      </b-link>
      <div class="content" v-html="sidebar.content"></div>
      <b-button
        size="sm"
        @click="getNewsFile"
        v-if="currentInformational != null"
        data-toggle="tooltip"
        :title="$gettext('Download news file')"
        class="dlBtn"
        id="newsBtn"
        no-caret
      >
        <b-icon icon="download" scale="1.5"></b-icon>
      </b-button>
    </b-row>

    <!-- Task item logic -->
    <img
      width="320px"
      height="240px"
      v-if="sidebar.type == 'task'"
      :src="`${$publicPath}/images/task.jpg`"
    />
    <b-row class="sidebar-body" v-if="sidebar.type == 'task'">
      <div class="content" v-html="sidebar.content"></div>
      <b-link v-if="taskUrl != null" :href="taskUrl" target="_blank" class="blink">
        <translate>For more information here.</translate>
      </b-link>
      <div
        id="pickAnswer"
        class="flex-item-big"
        v-if="sidebar.challengeType == 'multiple_choice'"
      >
        <table>
          <tr>
            <td>
              <input
                id="option1"
                type="radio"
                name="picked"
                v-model="selectedAnswer"
                :value="sidebar.options[0].value"
                @click="clickAnswer"
              />a) {{ sidebar.options[0].text }}
              <label
                :class="{
                  checkmark_selected: selected == 'a',
                  checkmark: selected != 'a',
                }"
                for="option1"
              />
            </td>
            <td v-if="sidebar.options.length > 1">
              <input
                id="option2"
                type="radio"
                name="picked"
                v-model="selectedAnswer"
                :value="sidebar.options[1].value"
                @click="clickAnswer"
              />b) {{ sidebar.options[1].text }}
              <label
                :class="{
                  checkmark_selected: selected == 'b',
                  checkmark: selected != 'b',
                }"
                for="option2"
              />
            </td>
          </tr>
          <tr v-if="sidebar.options.length > 2">
            <td>
              <input
                id="option3"
                type="radio"
                name="picked"
                v-model="selectedAnswer"
                :value="sidebar.options[2].value"
                @click="clickAnswer"
              />c) {{ sidebar.options[2].text }}
              <label
                :class="{
                  checkmark_selected: selected == 'c',
                  checkmark: selected != 'c',
                }"
                for="option3"
              />
            </td>
            <td v-if="sidebar.options.length > 3">
              <input
                id="option4"
                type="radio"
                name="picked"
                v-model="selectedAnswer"
                :value="sidebar.options[3].value"
                @click="clickAnswer"
              />d) {{ sidebar.options[3].text }}
              <label
                :class="{
                  checkmark_selected: selected == 'd',
                  checkmark: selected != 'd',
                }"
                for="option4"
              />
            </td>
          </tr>
        </table>
      </div>
      <div id="buttons">
        <b-button
          id="checkAnswer"
          class="button"
          data-toggle="tooltip"
          :title="$gettext('Check your answer')"
          @click="checkAnswer"
          :disabled="questionAnswered"
          v-show="sidebar.challengeType == 'multiple_choice'"
          v-translate
        >
          Check Answer
          <b-icon icon="clipboard-check" scale="1"></b-icon>
        </b-button>
        <b-button
          size="sm"
          @click="getTaskFile"
          v-if="currentChallenge != null"
          data-toggle="tooltip"
          :title="$gettext('Download task file')"
          class="dlBtn"
          no-caret
          v-translate
        >
          <b-icon icon="download" scale="1.5"></b-icon>
        </b-button>
      </div>
    </b-row>
  </b-sidebar>
</template>

<script>
export default {
  data() {
    return {
      questionAnswered: false,
      defaultImage: "/static/images/traffic_lights.jpg",
      correct: 0,
      sumOfMark: 0,
      numberOfQuestions: 0,
      selectedAnswer: "",
      mark: 0,
      variants: ["a", "b", "c", "d"],
      selectedAnswerList: [],
      selected: "",
    };
  },

  computed: {
    currentChallenge() {
      return this.$store.state.activeChallenge;
    },
    currentInformational() {
      return this.$store.state.activeInformational;
    },
    sidebar() {
      return this.$store.state.sidebar;
    },
    showSidebar() {
      return this.$store.state.sidebar.active;
    },
    backgroundImage() {
      return (
        'url("' +
        (this.sidebar.image ? this.sidebar.image : this.defaultImage) +
        '")'
      );
    },
    challenges() {
      return this.$store.state.currentChallenges;
    },
    informationals() {
      return this.$store.state.currentInformationals;
    },
    url() {
      if (this.$store.state.activeInformational.url != null) {
        return this.$store.state.activeInformational.url;
      } else {
        return null;
      }
    },
    taskUrl() {
       if (this.$store.state.activeChallenge.url != null) {
        return this.$store.state.activeChallenge.url;
      } else {
        return null;
      }
    },
    simulationId() {
      return this.$store.state.currentSimulation.id;
    },
    correctAnswer() {
      var options = ["a","b","c","d"]
      return options[this.$store.state.activeChallenge.correct];
    },
    top() {
      return this.$store.state.sidebar.top;
    },
    height() {
      return this.$store.state.sidebar.height;
    },
  },

  methods: {
    checkAnswer: function () {
      if (this.correctAnswer === this.selectedAnswer) {
        if (!this.selectedAnswerList.includes(this.id)) {
          this.selectedAnswerList.push(this.id);
          this.correct++;
          this.sumOfMark += Number(this.currentChallenge.mark);
          localStorage.setItem("correct", this.correct);
        }
        this.makeToast("success");
      } else {
        this.makeToast("danger");
      }
    },

    clickAnswer: function (event) {
      this.selected = event.target._value;
    },
    makeToast(variant = null) {
      var text =
        variant == "success"
          ? "correct" + ". You have " + this.correct + " correct answer."
          : "incorrect"; // and " + this.sumOfMark + " mark."
      var title =
        variant == "success" ? "Task is completed !" : "Please try again !";
      this.$bvToast.toast(title, {
        title: "Answer " + this.selectedAnswer.toUpperCase() + " is " + text,
        autoHideDelay: 5000,
        toaster: "b-toaster-top-full",
        variant: variant,
        solid: true,
        appendToast: true,
      });
    },
    populateTimeline: function () {
      var taskTimelinePoints = [];
      var newsTimelinePoints = [];
      var index;
      if (this.challenges.length > 0) {
        for (index = 0; index < this.challenges.length; index++) {
          taskTimelinePoints.push(this.carbonToJs(this.challenges[index].time));
        }
      }
      if (this.informationals) {
        this.$log.debug("News size:" + this.informationals.length);
        for (index = 0; index < this.informationals.length; index++) {
          newsTimelinePoints.push(
            this.carbonToJs(this.informationals[index].time)
          );
        }
      }
      var timelinePoints = {
        newsTimelinePoints: newsTimelinePoints,
        taskTimelinePoints: taskTimelinePoints,
      };
      this.$store.commit("setTimelinePoints", timelinePoints);
    },
    fetchQuestions: function () {
      this.$store
        .dispatch("fetchChallenges", { simulationId: this.simulationId })
        .then((data) => {
          this.numberOfQuestions = this.challenges.filter(function (c) {
            return c.challenge_type === "multiple_choice";
          }).length;
          this.populateTimeline();
        });
    },
    getTaskFile: function () {
      this.$store.dispatch("getTaskFile");
    },
    getNewsFile: function () {
      this.$store.dispatch("getNewsFile");
    },
    hideSidebar() {
      this.$store.commit("hideSidebar");
    },
  },

  mounted() {
    this.fetchQuestions();
  },
};
</script>

<style>
.dlBtn {
  width: 100%;
}

.news-content,
.task-content,
.blink,
.popover-content {
  padding: 1em;
}

.news-title {
  /* this class is being injected into side.content via v-html flag */
  padding: 0.25em;
  font-size: xx-large;
  font-weight: 700;
  border-left: 10px solid crimson;
}

.task-title {
  /* this class is being injected into side.content via v-html flag */
  padding: 0.25em;
  font-size: xx-large;
  font-weight: 700;
  border-left: 10px solid royalblue;
}

.sidebar-body {
  width: 100%;
  background-color: ghostwhite;
}

.sidebarContainer {
  position: relative;
}

.sidebar-header {
  width: 100%;
}

.nested-sidebar {
  position: relative;
  overflow-x: hidden;
}

.b-sidebar {
  height: 81.7vh;
  box-shadow: 3px 3px 3px 3px rgba(100, 100, 100, 0.3);
  position: absolute !important;
  background-image: url("/static/images/faded-background.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.fullscreenSidebar > div {
  height: 89.8vh;
}

.sidebar-header {
  min-height: 30vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 0px;
}

.sidebar-body {
  min-height: 30vh;
  padding: 1rem;
  scrollbar-width: thin;
}
.b-sidebar-outer ::-webkit-scrollbar {
  width: 20px;
}

.b-sidebar-outer {
  top: auto;
}

/* Handle */
.b-sidebar-outer ::-webkit-scrollbar-thumb {
  background: rgba(60, 60, 60, 1);
}

#exitBtn {
  position: absolute;
  top: 1vh;
  right: 1vw;
  z-index: 2;
  background-color: rgba(100, 100, 100, 0.5);
  border: none;
  color: white;
}

#buttons {
  padding: 1em;
  width: 100%;
}

#pickAnswer {
  background-color: rgb(249, 248, 250);
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 1em;
}

#checkAnswer {
  background-color: #6c757d;
  border-radius: 5px;
  color: white;
  width: 100%;
  margin-bottom: 10px;
}

#newsBtn {
  margin-left: 1em;
  height: 4vh;
  padding: 0.5em;
}
</style>
