<template>
  <div @click="$emit('recenter', simulation)" :align="rtl ? 'right' : 'left'">
    <div class="panel panel-default" v-if="phenomenon && caseContext">
      <div
        :style="{ color: phenomenon.color }"
        :class="{
          'panel-page__heading': true,
          selected: selected,
          warning: warning,
        }"
      >
        <div class="simulation__phenomenon-header">
          <div class="row">
            <div class="column__symbol">
              <div
                style="vertical-align: middle"
                class="panel-page__phenomenon-symbol"
              >
                <img :src="$publicPath + phenomenon.symbol" />
              </div>
            </div>
            <div class="column__header__block">
              <div class="panel-page__header-block-inner">
                <div class="panel-page__phenomenon-header" v-translate>
                  {{ phenomenon.name }}
                </div>
                <div class="panel-page__caption-header">
                  <strong v-translate>Notes</strong>: {{ caseContext.name }}
                </div>
              </div>
            </div>
            <div class="column__btn">
              <!-- <div class="buttons float-right p-2"> -->
              <a
                class="btn btn-sm m-1 btn-outline-light"
                id="explore-btn"
                :href="`/${$i18n.locale}/v/s/` + simulation.id"
                :title="$gettext('Explore...')"
                >Explore...</a
              >
              <a
                @click="setCurrentSim(simulation)"
                v-b-modal.cloneSimModal
                class="btn btn-sm m-1 btn-outline-light"
                :title="$gettext('Clone Simulation')"
                >Clone Simulation</a
              >
              <b-modal v-if="users" id="cloneSimModal" title="BootstrapVue">
                <b-dropdown
                  v-model="cloneUser"
                  text="Select A User to Clone for"
                >
                  <!-- <b-dropdown-item >
                    {{ user.attributes.forename }}
                    {{ user.attributes.surname }}</b-dropdown-item
                  > -->
                  <b-form-select
                    v-model="cloneUser"
                  >
                    <b-form-select-option
                    v-for="user in users.data"
                    :key="user.data" :value="user.data">
                      {{ user.attributes.forename }}
                      {{ user.attributes.surname }}</b-form-select-option
                    >
                  </b-form-select>
                </b-dropdown>
                <b-button @click="cloneSimulation()">
                  <b-icon icon="arrow-left-right"></b-icon>
                </b-button>
              </b-modal>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "simulation",
  props: ["simulation", "selected", "warning"],

  data() {
    return {
      cloneUser: null,
      currentSim: null,
      options: [],
    };
  },

  mounted() {
    this.$log.debug("Component ready.");
  },

  computed: {
    phenomenon: function () {
      return this.simulation.phenomenon();
    },
    caseContext: function () {
      return this.simulation.caseContext();
    },
    rtl() {
      return this.$store.state.rtl;
    },
    users() {
      return this.$store.state.users;
    },
    user() {
      return this.$store.state.user;
    },
  },

  methods: {
    cloneSimulation() {
      console.log(this.cloneUser);
      console.log(this.simulation.id);
      var payload = { id: this.simulation.id, userId: this.user.id };

      this.$store.dispatch("cloneSimulation", payload);
    },
    setCurrentSim(sim) {
      this.currentSim = sim;
    },
  },
};
</script>

<style>
div.panel-page__heading.warning:hover {
  background: #dd4433;
  border-left: thick red solid;
}

.panel-page__phenomenon-header {
  color: white;
}

.panel-page__heading.selected {
  background: #484848;
  border-left: thick white solid;
}

.simulation__phenomenon-symbol {
  height: 60px;
  padding-right: 10px;
}

.simulation__phenomenon-header .panel-page__phenomenon-symbol img {
  height: 50px;
  padding-right: 5px;
  padding-left: 8px;
}

.simulation__phenomenon-header {
  @extend %phenomenon__header;
  font-weight: bold;
  height: fit-content;
}

.simulation__phenomenon-header .panel-page__phenomenon-header {
  font-size: 200%;
}

.simulation__phenomenon-header .panel-page__caption-header {
  font-size: 90%;
}

.simulation__caption-header {
  font-size: large;
  font-weight: bold;
}
/* Create three equal columns that floats next to each other */
.column__symbol {
  float: left;
  width: 11%;
  padding: 15px;
  padding-left: 30px;
}

.column__btn {
  display: inline-block;
  /* padding: 15px; */
  padding-left: 30px;
}

.column__header__block {
  float: left;
  width: 50%;
  padding: 15px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
